* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
h1 {
  font-family: "Zilla Slab", serif;
}
h2 {
  font-family: "Freehand", cursive;
}
p {
  font-family: "Bacasime Antique", serif;
}
:root{
    --main-color:#b5defc;

}
body{
    background-color: var(--main-color);
}
i{
    color: rgb(148, 139, 139);
}
.btn:hover{
    background-color: rgb(39, 35, 35);
}
/* .btn:onclick{
  transition: all 0.5s;
} */
.img{

}